.content {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.column {
  color: #696969;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.columnTrack {
  width: 447px;
}

.columnAuthor {
  width: 321px;
}

.columnAlbum {
  width: 245px;
}

.columnTime {
  width: 60px;
  text-align: end;
}

.icon {
  width: 12px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
