.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow-x: clip;
  background-color: #383838;
}

.container {
  position: relative;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: var(--player-height);
  background-color: #181818;
}

.main {
  display: grid;
  grid-template-columns: 244px minmax(0, 1fr) 418px;
  align-items: start;
  min-height: calc(100vh - var(--player-height));
}
